<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все машины</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
</head>

<body>
<br>
<br>
<a href="/person">Ко всем людям</a>
<br>
<br>
<h4>Список автомобилей</h4>
<br>
<br>
<div>
    <table>
        <thead>
        <tr>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Перейти</th>
        </tr>
        </thead>
        <tbody id="data-output"></tbody>
    </table>
</div>
<script src="/static/js/car/all_cars_js.js"> </script>
</body>
</html>