<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автомобиль</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
</head>
<body>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<a href="/person">Ко всем людям</a>
<br>
<a href="/car">Ко всем автомобилям</a>
<br>
<br>
<h4>Автомобиль</h4>
<br>
<ul class="list-group list-group-flush" id="list"></ul>
<br>
<a th:href="@{/car/{id}/update_car(id=${carId})}">Изменить</a>
<br>
<br>
<br>
<h4>Хозяин автомобиля</h4>
<br>
<div>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Перейти</th>
        </tr>
        </thead>
        <tbody id="data-output"></tbody>
    </table>
</div>
<br>
<br>
<br>
<script th:inline="javascript">
    let id = [[${carId}]];
</script>
<script src="/static/js/car/car_by_id_is.js"></script>
<script src="/static/js/car/person_of_car_js.js"></script>
</body>
</html>