<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
    <script src="/js/person/all_persons_js.js" defer></script>
    <title>Все люди</title>
</head>

<body>
<br>
<a href="/car">Ко всем автомобилям</a>
<br>
<br>
<h4>Список людей</h4>
<br>
<br>
<div>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Перейти</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody id="data-output"></tbody>
    </table>
</div>

<br />
<hr />


<a href="/person/new_person">Сохранить нового человека</a>
</body>

</html>