<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
</head>
<body>
<h3>Вход</h3>
<br>
<form action="/auth/login" method="post" id="loginForm">
    <div style="color: red" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div style="color: red" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <label for="username">Логин</label>
        <input type="text" id="username" name="username" placeholder="Логин">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Пароль">
        <input type="submit" value="Вход">
    </form>
    <br>
    <a href="/auth/register">Регистрация</a>
    <br>
</form>
</body>
</html>