<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<a href="/person">Ко всем людям</a>
<br>
<a href="/car">Ко всем автомобилям</a>
<br>
<br>
<h4>Создать человека</h4>
<br>
<div class="page">
    <form action="" class="form" id="add-form">
        <div class="input-box" id="firstName-input">
            <label for="firstName">Имя</label>
            <input data-min-length="2" data-max-length="25" class="input-field"
                   id="firstName" type="text" name="firstName" placeholder="Имя">
        </div>
        <div class="input-box" id="lastName-input">
            <label for="lastName">Фамилия</label>
            <input data-min-length="5" data-max-length="25" class="input-field"
                   id="lastName" type="text" name="lastName" placeholder="Фамилия">
        </div>
        <div class="input-box" id="email-input">
            <label for="Email">Email</label>
            <input class="input-field" id="Email" type="email" name="username"
                   placeholder="Email" autocomplete="off">
        </div>
        <div class="input-box" id="password-input">
            <label for="password">Пароль</label>
            <input class="input-field" id="password" type="password" name="password"
                   placeholder="Пароль" autocomplete="off">
        </div>
        <br>
        <form name="roles">
            <fieldset>
                <legend>Установить Права</legend>
                <br>
                <div>
                    <label>
                        <input type="radio" id="user" name="role" value="ROLE_USER"/>
                        User
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" id="admin" name="role" value="ROLE_ADMIN"/>
                        Admin
                    </label>
                </div>
            </fieldset>
            <br>
            <br>
            <button class="btn" type="submit">Сохранить</button>
        </form>
    </form>
</div>
<br>
<br>
<br>
<script src="/static/js/person/new_person_js.js"></script>
<script src="/static/js/validation/validation.js"></script>
</body>
</html>