<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
<br>
<br>
<h3>Регистрация</h3>
<br>
<br>
<form action="" class="form" id="add-form">
    <div class="input-box" id="firstName-input">
        <label for="firstName">Имя</label>
        <input data-min-length="2" data-max-length="25" class="input-field"
               id="firstName" type="text" name="firstName" placeholder="Имя">
    </div>
    <div class="input-box" id="lastName-input">
        <label for="lastName">Фамилия</label>
        <input data-min-length="5" data-max-length="25" class="input-field"
               id="lastName" type="text" name="lastName" placeholder="Фамилия">
    </div>
    <div class="input-box" id="email-input">
        <label for="Email">Email</label>
        <input class="input-field" id="Email" type="email" name="username"
               placeholder="Email" autocomplete="off">
    </div>
    <div class="input-box" id="password-input">
        <label for="password">Пароль</label>
        <input class="input-field" id="password" type="password" name="password"
               placeholder="Пароль" autocomplete="off">
    </div>
    <br>
    <br>
    <button class="btn" type="submit">Сохранить</button>

</form>
<script src="/js/validation/validation.js"></script>
<script src="/js/person/register_person_js.js"></script>
</body>
</html>