<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление человека</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<a href="/person">Ко всем людям</a>
<br>
<a href="/car">Ко всем автомобилям</a>
<br>
<br>
<h4>Обновить данные человека</h4>
<br>
<br>
<div class="page">
    <form action="" class="form" id="add-form">
        <div class="input-box" id="firstName-input">
            <label for="firstName">Имя</label>
            <input data-min-length="2" data-max-length="25" class="input-field"
                   id="firstName" type="text" name="firstName" placeholder="Имя">
        </div>
        <div class="input-box" id="lastName-input">
            <label for="lastName">Фамилия</label>
            <input data-min-length="5" data-max-length="25" class="input-field"
                   id="lastName" type="text" name="lastName" placeholder="Фамилия">
        </div>
        <br>
        <form>
            <fieldset>
                <legend>Установить Права</legend>
                <br>
                <div>
                    <label>
                        User
                        <input type="checkbox" id="user" name="user" value="user"/>
                    </label>
                </div>
                <div>
                    <label>
                        Admin
                        <input type="checkbox" id="admin" name="admin"/>
                    </label>
                </div>
            </fieldset>
        </form>
        <br>
        <br>
        <input type="submit" value="Обновить">
    </form>
</div>
<br>
<br>
<br>
<script th:inline="javascript">
    let id = [[${personId}]];
</script>
<script src="/static/js/person/update_person_js.js"></script>
<script src="/static/js/validation/validation.js"></script>
</body>
</html>